@import "less/variables.less";

@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo2.0-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url('./img/pattern.png');
}

.container, .main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-family: "Exo";
  font-size: 36px;
  font-weight: 100;
  padding-top: 20px;
  color: #ffffff;
}

.list-items {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  padding: 0;
}
.list-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  font-family: @font-family;
  font-size: 14px;

  margin: 20px 0;
  width: 100%;
}

.product {
  color: @color-text;
  position: relative;
  max-height: 480px;
  min-height: 270px;
  width: 100%;
  flex-grow: 1;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  &:hover {
    .changeColor(@color-hovered);
  }
  // cut corner
  &:before {
    background: @color-bg;
    position: absolute;
    left: 5px;
    top: 16px;
    content: "";
    width: 67px;
    z-index: -1;
    border-style: solid;
    border-width: @border-width 0 0 0;
    border-color: @color-highlight;
    transition: border-color .4s ease-out;
    height: 45px;
    .rotate(-40deg);
  }
}

.product-title {
  font-size: 48px;
  color: @color-heading;
  font-weight: bold;
  margin: 0;
}
.product-type {
  .disabled-state;
  background-color: @color-bg;
  margin-left: 50px;
  font-size: 16px;
  text-align: left;
  color: @color-text-light;
  padding: 15px 50px 0 5px;
  white-space: nowrap;
  position: relative;

  border-style: solid;
  border-width: @border-width @border-width 0 0;
  border-color: @color-highlight;
  transition: border-color .4s ease-out;
}
.product-taste {
  font-size: 24px;
  font-weight: bold;
  line-height: normal;
  margin-bottom: 15px;
  color: @color-text;
}

.product-info-section {
  .disabled-state;
  padding: 5px 50px 11px 50px;
  margin-top: -1px; // strange 1px-space in chrome resolved
  background-color: @color-bg;
  color: @color-text-light;
  flex-grow: 1;
  position: relative;

  border-style: solid;
  border-color: @color-highlight;
  border-width: 0 @border-width 0 @border-width;
  transition: border-color .4s ease-out;
  .qty {
    font-weight: bold;
  }
  .product-taste ~ div {
    line-height: 1.2;
  }
}

.product-image-section {
  padding: 15px 10px;
  margin-top: -1px; // strange 1px-space in chrome resolved
  position: relative;
  background-color: @color-bg;

  height: 100%;
  min-height: 270px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  flex-basis: 0;

  border-style: solid;
  border-color: @color-highlight;
  border-width: 0 @border-width @border-width @border-width;
  border-radius: 0 0 10px 10px;
  transition: border-color .4s ease-out;

  &:before {
    background: no-repeat url('./img/photo.png');
    background-position-x: 49%;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 10px 5px;
  }

  .product-weight {
    width: 80px;
    height: 80px;
    background-color: @color-highlight;
    transition: background-color .2s ease-out;
    color: @color-light;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    white-space: pre-wrap;
    line-height: 1.05;
    z-index: 1;

    div {
      text-align: center;
    }

    .qty {
      font-size: 42px;
      line-height: 1;
      display: block;
    }
  }
}
.product-note {
  margin-top: 15px;
  width: 100%;
  color: @color-light;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-shadow: 0px 1px 0px #000000;
  min-height: 2rem;
  div {
    text-align: center;
  }
  .product-ingredients {
    display: none;
  }
  .buy-product {
    font-weight: bold;
    color: @color-highlight;
    border-bottom: 1px dashed @color-highlight;
    text-decoration: none;

    &:hover {
      color: @color-hovered;
      border-color: @color-hovered;
    }
  }
  .product-sold {
    color: @color-sold;
    display: none;
  }
}


// events
.list-item.selected {
  .changeColor(@color-selected);
  .product-ingredients {
    display: block
  }
  .product-buy {
    display: none;
  }

  .product.hovered .product-type {
    color: @color-selected-hover;
  }
  .product:hover {
    .changeColor(@color-selected-hover);
  }
}

.list-item.disabled {

  .product {
    cursor: not-allowed;
  }
  .changeColor(@color-disabled);

  .product-type,
  .product-image-section,
  .product-info-section {
    &:before {
      opacity: .6;
      display: block;
    }
  }
  .product-sold {
    display: block;
  }
  .product-buy {
    display: none;
  }
}

@media(min-width: 350px) {
  .list-item {
    max-width: 320px;
  }
}
@media(min-width: 768px) {
  .list-item {
    max-width: 300px;
    margin: 20px;
  }
}
@media(min-width: 1200px) {
  .list-item {
    max-width: 320px;
  }
}
