// COLORS
@color-highlight: #1698d9;
@color-text: #000;
@color-text-light: #666;
@color-bg: @color-light;
@color-light: #fff;
@color-sold: #ffff66;

@color-hovered: #2EA8E6;
@color-selected: #d91667;
@color-selected-hover: #e62e7a;
@color-disabled: #b3b3b3;
@color-heading: #000;

@font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Tahoma", sans-serif;

@border-width: 4px;

.rotate(@deg) {
  transform: rotate(@deg);
  -o-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  -webkit-transform: rotate(@deg);
}

.changeColor(@color) {
  .product-weight {
    background-color: @color;
  }
  .product:before,
  .product-type,
  .product-image-section,
  .product-info-section {
    border-color: @color;
  }
}

.disabled-state {
  &:before {
    background: #fff;
    content: "";
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}
